container {
    
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    height: 400px;
    text-align: center;
    display:flex;
    flex-direction: column;
    background-color: #58e2c2;
    color: grey;
    justify-content: center;
}

.listInput {
    flex-direction: row;
}

h1 {
    text-transform: uppercase;
    font-family: Raleway;
}

#todoText {
    border: 2px solid grey;
    height: 30px;
    box-shadow: grey inset 0px 0px 3px;
}

button {
    margin: 0px;
    background-color: hotpink;
    border: 0px;
    height: 30px;
    color: white;

}

ul { 
    list-style: none;
    text-align: left;
}

.listElement {
    display: flex;
    flex-direction: row;
    width: 200px;
    margin-left: auto; 
    margin-right: auto;
    justify-content: center;
}

.checkbox {
    margin-left: auto; 
    margin-right: 20px;
}
